<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/config/spring/applicationContext-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
<servlet>
	<servlet-name>springmvc</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring/springmvc.xml</param-value>
	</init-param>
</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.SSM.controller.UserController</servlet-class>
  </servlet>

<servlet-mapping>
	<servlet-name>springmvc</servlet-name>
	<url-pattern>*.action</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/servlet/UserController</url-pattern>
  </servlet-mapping>
	<filter>
	<filter-name>SetCharacterEncodingFilter</filter-name>
	<filter-class>com.SSM.common.SetCharacterEncodingFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>SetCharacterEncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>
